@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
}

.avatar.online:before {
    top: 1%;
    right: 1%;
    width: 7px;
    height: 7px;
    background-color: #26e26b;
    outline: 2px solid white;
}

.avatar.offline:before {
    top: 1%;
    right: 1%;
    width: 9px;
    height: 9px;
    background-color: #e9e9ee;
    outline: none;
}
